.page-header {
  background-color: rgba(30, 9, 6, 0.15);
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: $descktop-width;
  margin: 0 auto;
  padding: 0 $descktop-padding;
  min-height: 110px;
}

.page-header__logo {
  width: 67px;
}
